[www<%= pool_port %>]
user = 'www-data'
group = 'www-data'
listen = 127.0.0.1:<%= pool_port %>
listen.allowed_clients = 127.0.0.1

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

chdir = /
