server {
	root <%= www_root %>;
	index index.html index.htm index.php;
	server_name <%= name %>;

	try_files $uri $uri/ /index.php;

	location ~ \.php$ {
		fastcgi_pass 127.0.0.1:<%= pool_port %>;
		fastcgi_index index.php;
		include fastcgi_params;
	}
}